@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90vh;
    position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* ========another Style======= */
header .button {
    margin-right: 3000px;
}

.button .btn {
    width: 133px;
    padding: 10px;
    border: 2px solid white;
    outline: none;
    box-shadow: 0 0px 10px white;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}

.home-content h3 {
    color: gray;
}

.home-content h1 {
    filter: drop-shadow(0 0 10px #c70505);
}

.home-content h2 {
    color: #c70505;
    font-size: 32px;
    font-weight: bold;
}


.home-content p {
    color: gray;
    width: 70%;
}

.home-content .button {
    margin-top: 20px;
}

/* ==================About Style============ */
.about {
    margin-top: 59.9px;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #c70505;
    border-radius: 18px;
    box-shadow: 0 22px 30px #c70505;
    width: 90vh;
    height: 359px;
    margin: auto;
    margin-top: 45px;
    max-width: 365px;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    text-transform: capitalize;
    transition: 2.4s;
}



.about .image {
    position: relative;
    align-items: center;
    justify-items: center;
    image-rendering: 10px;

}


.about-section h1 {
    text-align: center;
    position: relative;
    padding: 1cqh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

about-section h2 {
    margin: 0%;
    padding: 0%;
    display: flex;
}

.about-section h2 {
    color: #c70505;
    font-size: 33px;
    font-weight: bold;
}

.about-section p {
    text-align: center;
    color: rgb(209, 24, 24);
    font-size: 15px;
    font-weight: bold;
}

.about-section .button {
    margin-top: 14px;
}

.about-section .button .A-btn {
    width: 120px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 0 0 12px white;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}


/* ==================Service Style==================== */

.service {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

.service h1 {
    text-align: center;
    position: relative;
    padding-top: 20px;
}


.service .main-service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main-service .card {
    outline: none;
    border: 1px solid #c70505;
    box-shadow: 10px 20px 30px #c70505;
    border-radius: 12px;
    width: 350px;
    height: 300px;
    cursor: pointer;
    text-align: center;
    transition: .4s;
}

.main-service .card:hover {
    box-shadow: 0 22px 30px #c70505;
}

#three {
    box-shadow: 0 20px 30px #c70505;
    transition: .4s;
}

#three:hover {
    box-shadow: 0 22px 30px #c70505;
}

#three02 {
    box-shadow: 0 20px 30px white;
    transition: .4s;
}

#three02:hover {
    box-shadow: 10px 20px 30px #c70505;
}

.card li a {
    font-size: 35px;
    color: #fff;
    filter: drop-shadow(0 0 10px #c70505);
}

.card h2 {
    color: #c70505;
}

.card p {
    color: gray;
    font-size: 13.8px;
    font-weight: bold;
}

.card button {
    margin-top: 20px;
}

.card .S-btn {
    width: 90px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0 0 12px white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 12px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

.S-btn:hover {
    scale: 1.1;
    box-shadow: 0 20px 30px #c70505;
}

/* =========================Contact Page Style============ */

.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 49px;
}

.contact h1 {
    text-align: center;
    padding-top: 30px;
}


.contact .main-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.main-contact form {
    border: 1px solid #c70505;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 22px 30px #c70505;
    ;
    text-align: center;
    width: 300px;
    height: 340px;
    padding: 10px;
    outline: none;
}

form .sanjay {
    width: 90%;
    padding: 10px;
    border: 1px solid #c70505;
    outline: none;
    background-color: transparent;
    color: #fff;

    ::placeholder {
        color: ffff;
    }

    border-radius: 3px;
    outline: none;
    margin: 10px;
}

form .text {
    width: 90%;
    padding: 10px;
    border: 1px solid #c70505;
    outline: none;
    background-color: transparent;
    color: #fff;

    ::placeholder {
        color: ffff;
    }

    margin: 10px;
    border-radius: 3px;
    outline: none;
}

from button {
    margin-top: 20px;
}

.C-btn {
    width: 90%;
    padding: 10px;
    border: 1px solid #c70505;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    transition: .4s;
    border-radius: 3px;
}

.C-btn:hover {
    scale: 1.1;
    box-shadow: 0 22px 30px white;
    border-radius: 12px;
}

/* ===================Footer Style================== */
.footer {
    padding: 10px;
    text-align: center;
    background-color: #333;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    margin-top: 40px;
}

.footer h3 {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}

/*My objt*/
.logo {
    font-size: 3rem;
    color: #c70505;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    filter: drop-shadow(0 0 10px rgb(83, 5, 5));
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #c70505;
    border-bottom: 3px solid #c70505;
}

@media(max-width:500px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 10;
        width: 40%;
        border-left: 3px solid #c70505;
        border-bottom: 3px solid #c70505;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: flexbox;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(0, 0, 0);
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    text-align: center;
    margin-top: 30px;
    color: #c70505;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 1000px;
}

.home-img {
    border-radius: 00;
}

.home-img img {
    position: calc(center);
    width: 32vw;
    border-radius: 46%;
    box-shadow: 0 0 25px solid #c70505;
    cursor: pointer;
}

.home-img img:hover {
    box-shadow: 0 0 25px solid rgb(99, 1, 1);
    font-size: 1.8rem;
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px rgb(245, 5, 5));
    font-weight: 500;
}

.contact .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-top: -40%;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #c70505;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #c70505;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #c70505;
    box-shadow: 0 0 25px #c70505;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #c70505;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #c70505;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #c70505;
    color: black;
    box-shadow: 0 0 25px #c70505;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #c70505;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-top-left-radius: 3px solid #c70505;
    }
}

@keyframes words {

    0%,
    20% {
        content: " Otaku";
    }

    21%,
    40% {
        content: "Vegeta";
    }

    41%,
    60% {
        content: "Atomic";
    }

    61%,
    80% {
        content: "Solo Man";
    }

    81%,
    100% {
        content: "Warrior";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}